<script src="register.component.ts"></script>
<body>
<nav class="navbar navbar-transparent navbar-absolute">
  <div class="container">
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle navbar-toggle-black" data-toggle="collapse" data-target="#navigation-example-2">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar "></span>-->
        <!--<span class="icon-bar "></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
    <!--</div>-->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/login" class="btn">
            Looking to login?
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="wrapper wrapper-full-page">
  <div class="register-page">
    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="header-text">
              <h2>Inteliment</h2>
              <h4>Register for free and experience the dashboard today.</h4>
              <hr>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-2">
            <div class="media">
              <div class="media-left">
                <div class="icon icon-danger">
                  <i class="ti ti-user"></i>
                </div>
              </div>
              <div class="media-body">
                <h5>Free Account</h5>
                Here you can write a feature description for your dashboard, let the users know what is the value that you give them.
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <div class="icon icon-warning">
                  <i class="ti-bar-chart-alt"></i>
                </div>
              </div>
              <div class="media-body">
                <h5>Awesome Performances</h5>
                Here you can write a feature description for your dashboard, let the users know what is the value that you give them.
              </div>
            </div>
            <div class="media">
              <div class="media-left">
                <div class="icon icon-info">
                  <i class="ti-headphone"></i>
                </div>
              </div>
              <div class="media-body">
                <h5>Global Support</h5>
                Here you can write a feature description for your dashboard, let the users know what is the value that you give them.
              </div>
            </div>
          </div>


              <div class="col-md-4">
                <div class="card card-plain">

                  <form class="example-form" (ngSubmit)="onSubmit()"  [formGroup]="form">
                    <div class="form-group" [formGroup]="form">
                      <input type="text" class="form-control" minlength="5" id="name" required placeholder="Name"
                             formControlName="name"/>

                    </div>


                    <div class="form-group" [formGroup]="form">
                      <input class="form-control" id="email" placeholder="Email" name="email" required
                             formControlName="email"/>
                    </div>

                    <div class="form-group" [formGroup]="form">
                      <input  class="form-control" [minlength]="10" id="phone_no" type="number"
                              formControlName="phone_no" placeholder="Phone no."  name="phone_no" required/>
                    </div>

                    <div class="form-group">
                      <input type="password" id="password" class="form-control" placeholder="Enter Password" required formControlName="password"/>
                    </div>

                    <div class="form-group">
                      <!--<label for="confirmPassword">Conform Password</label>-->
                      <input type="password" class="form-control" required placeholder="Repeat Password"
                             id="confirmPassword" formControlName="confirmPassword" [formGroup]="form"/>
                      <div class="alert alert-danger" *ngIf="form.controls.confirmPassword.errors?.MatchPassword">Password not match</div>
                    </div>

                    <button type="submit" class="btn btn-fill btn-danger btn-wd">Submit</button>
                    <mat-error *ngIf="message" class="alert alert-danger">{{message}}</mat-error>
                  </form>
                </div>
              </div>

        </div>
      </div>
    </div>

    <footer class="footer footer-transparent">
      <div class="container">
        <div class="copyright text-center">
          &copy; <script>document.write(new Date().getFullYear())</script>, made with by <a>Inteliment</a>
        </div>
      </div>
    </footer>
  </div>
</div>
</body>


